/* ***************Header ********************* */
header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    margin: 0 auto;
    
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
    /* display: flex; */
    align-items: center;
    margin: 0 auto;
}

.scroll__down{
    position: absolute;
    transform: rotate(90deg);
    bottom: 14.5rem;
    right: 0;
}

/* *************CTA ***************** */
.cta{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}



/* ************* Socials ***************** */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left:0;
    bottom: 10rem;
}

.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ********** ME *************** */
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    /* position: absolute; */
    top: calc(50% - 11rem);
    border-radius: 13rem 13rem 0rem 0;
    margin: 0 auto;
    margin-top: 4rem;
}

.me img{
    border-radius: 12rem 0rem 12rem 0;
    position: relative;
    top: -2.2rem;
}




/* ************For Tablet and medium devices *********** */

@media screen and (max-width: 1024px){
    header{
        height: 68vh;
    }
}

@media screen and (max-width: 600px){
   header{
    height: 100vh;
   }

   .header__socials,
   .scroll__down{
    display: none
   }
}